.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
_rel
_deps
_plugins
_tdeps
logs
doc
# Ignore all files in src that do not match src/rebar3_hex.*\.(erl|hrl|.app.src)
src/*
!src/rebar3_hex*.erl
!src/rebar3_hex.app.src
!src/rebar3_hex.hrl