{erl_opts, [debug_info]}.
{deps, [{providers,
        {git, "https://github.com/tsloughter/providers.git", {branch, "master"}}},
        {erlware_commons, ".*",
         {git, "https://github.com/erlware/erlware_commons.git",
          {branch, "master"}}},
        {jsx, "", {git, "https://github.com/talentdeficit/jsx.git", {branch, "master"}}}]}.

{overrides, [{override, erlware_commons, [{plugins, []}]}]}.
