{erl_opts, [
    debug_info,
    {platform_define, "^19", 'POST_OTP_18'},
    {platform_define, "^[2-9]", 'POST_OTP_18'}
]}.

{profiles, [
    {test, [
        {deps, [{erlware_commons, "1.2.0"}, {elli, "3.0.0"}, {jsone, "1.4.7"}, {meck, "0.8.12"}]},
        {erl_opts, [nowarn_export_all]}
    ]}
]}.

{alias, [{test, [{ct, "--cover"}, {cover, "-v"}]}]}.
