{minimum_otp_vsn, "18"}.

{erl_opts, [
    debug_info,
    {platform_define, "^20", 'POST_OTP_19'},
    {platform_define, "^19", 'POST_OTP_18'},
    {platform_define, "^[2-9]", 'POST_OTP_18'}
]}.

{project_plugins, [covertool]}.

{deps, [{hex_core, "0.6.9"}, {verl, "1.0.2"}]}.

{profiles, [
    {test, [
        {overrides, [{override, rebar3,[{deps, [{erlware_commons, "1.2.0"}]}]}]},
        {deps, [{hex_core, "0.6.9"},
                {rebar, {git, "git://github.com/erlang/rebar3.git", {tag, "v3.13.1"}}},
                {erlware_commons, "1.2.0"}, {elli, "3.2.0"},
                {jsone, "1.5.2"}, {meck, "0.8.13"}]},
        {erl_opts, [nowarn_export_all]}
    ]}
]}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
              deprecated_function_calls,deprecated_functions]}.

{alias, [{test, [{ct, "--cover"}, {cover, "-v"}]}]}.
